facade/target/test-classes/com/cc3002/breakout/facade/AppTest.class
facade/.classpath
facade/.eclipse-pmd
facade/.project
facade/.settings/org.eclipse.core.resources.prefs
facade/.settings/org.eclipse.jdt.core.prefs
facade/.settings/org.eclipse.ltk.core.refactoring.prefs
facade/.settings/org.eclipse.m2e.core.prefs
facade/Configuraci_n_de_PMD_plugin.xml
facade/pom.xml
